@model FirstWebapplication.Data.Models.Car
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.Img" alt="@Model.Name" />
    <h2>Модель: @Model.Name</h2>
    <p1>Ціна: @Model.Prise.ToString("c")</p1>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddToCart"asp-route-id="@Model.Id">Добавити в корзину</a></p>
</div>



